@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,900&display=swap');


:root {
    --primary-Color: #F48989;
    --sec-Color: #E8DEDE;
    --reset-col : #898989;


}

body {
    height: 100vh;
    background-color: var(--sec-Color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    font-family: inter;
    
}





.tap-btn {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: var(--primary-Color);
    border: 3px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 169px -3px #2B2B2B;
    margin: 120px;

    display: flex;
    justify-content: center;
    align-items: center;
    
}








.count {
    color: transparent;
    font-size: 70px;
    
    background-color: black;
    text-shadow: 0px 0px 2px var(--sec-Color);
    background-clip: text;
    margin: auto;
}







.reset-btn{
    width: 206px;
    height: 80px;
    border-radius: 50px;
    background-color: var(--reset-col);
    text-align: center;
    line-height: 80px;
    font-size: 40px;
    color: white;
}